{% extends "main/layout.html" %}
{% load static %}
{% block title %}Контакты{% endblock  %}
{% block main %}
<div class="bg-gray text-white">
    <div class="pb-5">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ab36015d80a189c4bf620b766fbad349ccdd4fadee37f6f6b55ab600e44e2c8d2&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
    <div class="container-sm d-flex align-items-center flex-column">
        <h2>Реквизиты и контакты</h2>
        <hr class="hr-contact">
        <span class="pb-3">Телефон: 88005553535</span>
        <span class="pb-3">Mail: specrumPC@gmail.com</span>
        <span class="pb-3">ИНН: 83647593027</span>
        <span class="pb-3">ОГРН: 7493856492016</span>
        <span class="pb-3">ОКПО: 82648367</span>
        <span class="pb-3">р/с: 298364592304203 Сбербанк</span>
        <span class="pb-3">Корр. счет: 21836189236192772</span>
        <span class="pb-3">Юр. адрес: 443099, г.Самара <br> ул.Молодогвардейская 59</span>
    </div>
</div>
{% endblock  %}