.bg-gray{
    background-color: rgb(37, 37, 37);
}
.text-align-justify{
    text-align: justify;
}
.border_info{
    border: 1px solid rgb(58, 58, 58);
    border-radius: 40px;
    background-color: rgb(58, 58, 58);
}