{% extends "main/layout.html" %}
{% load static %}
{% block title %}Оформление заказа{% endblock  %}
{% block main %}
<div class="bg-dark text-white">
    <div class="container">
        <h2 class="m-0 container d-flex justify-content-center pb-5 pt-5">Оформление заказа</h2>
        <form>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Название товара">
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </form>
    </div>
</div>
{% endblock  %}